/*================GENERAL OPTIONS================*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
}
ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
button {
    cursor: pointer;
}
section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.conteiner {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*================HEDER================*/
.main-heder .conteiner{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}
.page-navigation {
    display: flex;
}
.page-navigation .menu-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.accent-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42
}
.page-navigation .page-menu {
    display: flex;
    gap: 40px;
}
.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
    color: #404bbf;
}
.page-menu .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.conteiner .adress-info {
    display: flex;
    gap: 40px;
}
.adress-info .contacts-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
}
.contacts-info .contacts-link:hover,
.contacts-info .contacts-link:focus {
    color: #404bbf;
}
/*================HERO================*/
.service-solutions .conteiner{
   width: 1440px;
   height: 600px;
}
.solution-info {
    margin-top: 188px;
    margin-bottom: 48px;
    margin-left: 316px;
    margin-right: 316px;
    
}
.service-button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    margin-left: 480px;
    margin-right: 480px;
}



/*================ADVANTAGES================*/
.advantages-title {
    margin-bottom: 72px;
}
.advantages-list {
    display: flex;
    gap: 24px;
}

/*================TEAM================*/
.our-team-title {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
}
/*================OUR PORTFOLIO================*/

.portfolio-title {
    margin-bottom: 72px;
    flex-wrap: wrap;
}
.portfolio-list {
    display: flex;
}
/*================FOOTER================*/
.main-footer {
    width: 1440px;
    height: 312px;
}
.nain-footer .conteiner {
    padding-top: 100px;
    padding-bottom: 100px;
}